body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10em;
}

.restaurant-picture {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 20%, transparent 100%), url('../images/hero_img.jpg');
}

.contact-picture {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 20%, transparent 100%), url('../images/contact_img.jpg');
}

.menu-picture {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 20%, transparent 100%), url('../images/menu_img.jpg');
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.list-item {
  list-style-type: none;
  margin: 2rem 5rem;
  font-size: larger;
  cursor: pointer;
  padding: 0 10px;
}

.list-item:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

.cta {
  color: black;
  background-color: #90cdf4;
  margin-top: 5rem;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 50px lightblue;
  font-size: 1.2rem;
}

.menu-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 75%;
}

.menu-pizza {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  align-self: stretch;
}

.menu-pizza p {
  margin: 0;
  padding: 0.4rem;
}

.side-menu p {
  margin: 0;
  padding: 0.4rem;
}

.menu-pizza p:first-child,
.side-menu p:first-child {
  font-size: x-large;
  border-bottom: 1px steelblue solid;
}

.wrapper {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.side-menu {
  width: 70%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  width: 20%;
  padding: 2rem 0;
  border-radius: 3rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 40%;
}

.home {
  bottom: 3rem;
}

.menu {
  bottom: -5rem;
}

.contact {
  bottom: 10rem;
}
